PORT=2000
HOST=0.0.0.0
APP_URL=http://localhost:2000

# MongoDB
MONGO_URI=mongodb://localhost:27017/geotager

# JWT Secrets
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_EMAIL_SECRET=your_jwt_email_secret_here

# Gmail SMTP Configuration (Nodemailer)
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=dpec tllv ypkf eovp
EMAIL_FROM=GeoTager <your_gmail_address@gmail.com>

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:2000/api/v1/auth/google/callback
CLIENT_URL=http://localhost:3000
